.contact-us {
    padding: 30px 0 200px 0;
    background: $light-bg_color;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    .title {
        >h2 {
            font-size: 22px;
            font-family: $primary-font;
            font-weight: 700;
            color: $text-color;
            text-align: initial;
            margin: 40px 0 20px 0;
        }

        >p {
            width: 80%;
            float: left;
            text-align: left;
            font-size: 65px;
            font-weight: 700;
            letter-spacing: -4px;
            color: #333333;
            line-height: 75px;
            margin-bottom: 50px;

            >span {
                color: $primary-color;
            }
        }
    }
    
    .contact-page {
        display: flex;
        flex-wrap: wrap;
        background: $primary-color;
        max-height: 400px;
        margin-top: 50px;
        

        .contact-info {
            flex: 1 1 30%;
            text-align: start;
            margin: 30px 0 0 50px;
    
            .contact-short-info {
                li {
                    >span {
                        font-family: $primary-font;
                        font-size: 16px;
                        font-weight: 600;
                        margin: 10px 0 0 0;
                        color: $light;
                    }
                }
                
                .bi {
                    margin: 0 10px 0 0;
                    color: $light;
                }

                h5 {
                    font-size: 26px;
                    font-weight: 700;
                    color: #ffffff;
                    margin: 20px 0 7px 0;
                }
            }

            .bi {
                margin: 50px 20px 0 0;
                color: $light;
                transition: 0.7s;
                cursor: pointer;

                &:hover {
                    color: #333333;
                }
            }
        }

        .contact-form {
            flex: 2 1 70%;
            height: 600px;
            background: $light;
            padding: 40px;
            margin: -100px 150px 0 0;
            box-shadow: 0px 0px 20px 15px rgba(77, 77, 77, 0.1);
    
            >h2 {
                font-family: $primary-font;
                font-weight: 800;
            }

            .form-control {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgb(182, 182, 182);
                box-shadow: none;
                height: 45px !important;
                width: 100%;
                color: $text-color;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 600;
                border-radius: 0;
            }
    
            input:hover,
            textarea:hover,
            #contact-submit:hover {
                border-bottom-color: $primary-color;
            }
    
            #contact-submit {
                background: $primary-color;
                color: $light;
                display: inline-block;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 50px;
                border-radius: 2000px;
                transition: background-color .7s, color .8s;
                margin-top: 20px;
    
                &:hover {
                    background-color: $second-color;
                }
            }
    
            textarea.form-control {
                padding: 10px;
                height: 140px !important;
                outline: none;
            }
        }

    }

    @media screen and (max-width: 767px) {
        padding: 30px 0 100px 0;

        .title {
            padding: 10px;

            > p {
                width: 100%;
                font-size: 45px;
                line-height: 50px;
                letter-spacing: -2.5px;
                margin-bottom: 30px;
            }
        }

        .contact-page {
            flex-direction: column;
            max-height: none;

            .contact-info {
                flex: 1 1 100%;
                margin: 0 0 30px 0;
                text-align: center;

                .contact-short-info {
                    margin-top: 30px;
                }
            }

            .contact-form {
                flex: 1 1 100%;
                margin: 0;
                padding: 40px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 979px) {

        .title {
            > p {
                font-size: 55px;
                line-height: 55px;
            }
        }

        .contact-page {
            flex-direction: column;
            max-height: none;

            .contact-info {
                flex: 1 1 100%;
                margin: 0 0 30px 0;
                text-align: center;

                .contact-short-info {
                    margin-top: 0;
                }
            }

            .contact-form {
                flex: 1 1 100%;
                min-width: 80%;
                margin: 0 0 70px 10%; 
                padding: 40px;

                >h2 {
                    font-size: 24px;
                }

                .form-control {
                    font-size: 14px;
                }
            }
        }
    }

}