.partners-title {
    padding: 30px 0;
    background: $light-bg_color;
    color: $light;

    .title {
        >h1 {
            width: 40%;
            text-align: initial;
            font-size: 65px;
            font-weight: 700;
            letter-spacing: -3.5px;
            color: #333333;
            line-height: 75px;

            >span {
                color: $primary-color;
            }
        }
    }
}

.partners {
    padding: 10px 0;
    background: $primary-color;
}

@media screen and (max-width: 767px) {
    .partners-title {
        padding: 30px 0 10px 0;
    
        .title {
            >h1 {
                width: 100%;
                font-size: 45px;
                letter-spacing: -2.5px;
                line-height: 50px;
            }
        }
    }
}