.services {
  padding: 1px 0;
  background-color: $light-bg_color;

  .main-title {
    >h1 {
      font-size: 22px;
      color: $text-color;
      text-align: initial;
      margin: 120px 0 30px 0;
    }

    >p {
      width: 70%;
      text-align: initial;
      font-size: 65px;
      font-weight: 700;
      letter-spacing: -5px;
      color: #333333;
      line-height: 75px;

      >span {
        color: $primary-color;
      }
    }
  }

  .row {
    display: flex;
  }

  .cards {
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
    margin: 50px auto;
    justify-content: center;
  }

  .card {
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-width: 100px;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    background-image: url(/images/services/Engineering_Design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    transition: max-width 0.7s ease-in-out;

    &:nth-child(2) {
      background-image: url(/images/services/Operations_Support.jpg);
    }

    &:nth-child(3) {
      background-image: url(/images/services/Maintenance\ Strategy.jpg);
    }

    &:nth-child(4) {
      background-image: url(/images/services/Reliability_Management.jpg);
    }

    &:nth-child(5) {
      background-image: url(/images/services/Sustainability.jpg);
    }

    &:nth-child(6) {
      background-image: url(/images/services/Learning_Development.jpg);
    }


    &.active {
      max-width: 500px;
      max-height: 500px;
      display: inline-grid;

      .title {
        all: unset;

        h2 {
          padding-bottom: 0.5em;
          transform: unset;
        }
      }

      p {
        position: relative;
        opacity: 1;
        max-height: 100%;
        transition-delay: 0.3s;
      }
    }

    .card-body {
      background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
      padding: 4em;
    }

    .title {
      background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
      position: absolute;
      inset: 0;
    }

    h2 {
      font-family: $primary-font;
      font-size: clamp(30px, 5vw, 24px);
      color: #fffbfb;
      white-space: nowrap;
      margin: 0;
      transform: rotate(-90deg) translateX(-350px);
    }

    p {
      position: absolute;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      margin: 0;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.2s ease-in-out;
    }
  }

  @media screen and (max-width: 767px) {

      .main-title {
        >h1 {
          font-size: 18px;
          margin: 100px 0 30px 0;
        }

        >p {
          width: 100%;
          font-size: 45px;
          letter-spacing: -2px;
          line-height: 40px;

          >span {
            color: $primary-color;
          }
        }
      }

      .cards {
        flex-direction: column;
        gap: 1em;
      }

      .card {
        max-width: 500px;
        min-height: 70px;
        border-radius: 30px;
        transition: max-height 0.7s ease-in-out;
    
        &.active {
          max-width: 500px;
          max-height: 700px;
    
          .title {
            h2 {
              margin-bottom: 10px;
            }
          }
        }
    
        .card-body {

          .title {
            background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
            // position: absolute;
            
            h2 {
              font-size: clamp(22px, 5vw, 24px);
              margin-top: 40px;
              transform: none;
            }
          }
        }
      }
  }
}