.single-page-header {
	background-image: url('/images/blog/headBG2.jpg');
	background-size: cover;
	padding:200px 0 150px;
	text-align: center;
	color:$light;
	position: relative;
	&:before {
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		content: '';
		top:0;
		right:0;
		left:0;
		bottom:0;
	}
}

.posts {
  padding-bottom: 40px;
}

.post-item {
  background: $light;
  margin-bottom: 30px;

  .img-fluid {
    width: 100%;
    height: 300px;
  }

  .content {
    padding: 20px;

    h3 {
      a {
        color: #000;
      }
    }

    p {
      color: #757575;
      margin: 10px 0;
    }

    .btn-main {
      padding: 12px 25px;
      margin: 15px 0;
    }
  }
}

.blog-details {
  h3 {
    font-size: 30px;
    color: #000;
    margin-bottom: 10px;
  }
}

.post {
  &-content {
    ul {
      margin-bottom: 20px;

      li {
        color: #aaa;

        a {
          color: #aaa;
        }
      }
    }

    p {
      margin-bottom: 30px;
    }

    blockquote {
      border-left: 2px solid $primary-color;
      padding: 40px 35px;
      margin-bottom: 30px;
      background: rgb(238, 238, 238);
    }

    &-share {
      margin-bottom: 100px;

      li a {
        height: 45px;
        width: 45px;
        line-height: 45px;
        border: 1px solid #ddd;
        text-align: center;
        background: $light;
        transition: .3s ease;
        margin-right: 10px;
        color: $black;
        display: inline-block;

        &:hover {
          background: $primary-color;
          border-color: $primary-color;
          color: $light;
        }
      }
    }
  }
}


.comment-list {
  padding-left: 0;
  font-family: $primary-font;

  &-item::before {
    content: "";
    background-color: $primary-color;
    position: absolute;
    min-height: calc(100% - 20px);
    width: 1px;
    left: -10px;
  }

  &-item:not(:first-child) {
    margin-left: 3rem;
    min-width: calc(100% - 3rem);

  }

  &-item {
    padding: 25px 0 0 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // border-bottom: 1px solid #ddd;

    // &:last-child {
    //   border: 0;
    // }

    &-content {
      min-width: 100%;
      font-family: $primary-font;
      
      h5 {
        color: $black;
        margin-bottom: 5px;
      }

      h6 {
        color: #ababab;
        font-size: 12px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 5px;
        color: #9a9a9a;
        font-weight: 600;
      }
    }

    .comment-btn {
      position: absolute;
      top: 25px;
      right: 0;
      background: $light;
      padding: 10px 30px;
      border: 1px solid #ddd;
      text-transform: capitalize;
      color: #000;
      font-size: 15px;
      cursor: pointer;

      @media(max-width: 575px) {
        position: unset;
        margin-top: 15px;
        display: inline-block;
      }

      &:hover {
        background: $primary-color;
        color: $light;
      }
    }
  }
}

.addComentTitle{
  margin-top: 90px;
}

.reply-details{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .reply-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    // height: 45px !important;
    color: #0c0c0c;
    font-size: 14px;
    border-radius: 0;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: $primary-font;
    
  }

  input.reply-control {
    flex: 0 0 auto;
    width: 80%;
    outline: none;

    &:hover {
      border-color: $primary-color;
    }
  }

  textarea.reply-control {
    flex: 0 0 auto;
    width: 80%;
    // width: 400px !important;
    height: 100px !important;
    outline: none;

    &:hover {
      border-color: $primary-color;
    }
  }

  .btn {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 20px;
    background: $dark-bg_color;
    color: $light;
    font-weight: 700;
    border-radius: 0;
    padding: 5px 30px;
    border: 0;
    transition: 0.5s;

    &:hover {
      background-color: $light;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  .submit {
    background-color: $primary-color;
    color: $light;
    border: 1px solid $primary-color;
    transition: 0.5s;

    &:hover {
      background-color: $light;
      color: $primary-color;
    }
  }
}

.comment-form {
  margin-top: 30px;

  .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 20px;
  }

  textarea.form-control {
    height: 200px !important;
  }

  .btn-primary {
    background: $primary-color;
    border-radius: 0;
    padding: 10px 20px;
    border: 0;
  }
}

.btn-group {
  margin: 30px 0;
  width: 390px;
  height: 45px;

  .btn-danger {
    background-color: $primary-color;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 22px;
    text-align: start;

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    padding-left: 0px;
    width: 390px;

    li {
      a {
        display: block;
        padding: 15px 0 15px 15px;
        color: #000;
        font-size: 15px;
        transition: .3s ease;

        i {
          font-size: 10px;
          margin-right: 10px;
        }

        &:hover {
          background: $primary-color;
          color: $light;
          padding-left: 35px;
        }
      }
    }
  }
}

.widget {
  

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &-search {
    position: relative;

    .form-control {
      border: 1px solid #dedede;
      border-radius: 0;
      height: 50px;
    }

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
      background: $primary-color;
      border: 0;

      .bi {
        color: $light;
      }
    }
  }

  &-categories {
    &-list {
      padding-left: 0px;

      li {
        border-bottom: 1px solid #ddd;

        &:last-child {
          border: 0;
        }

        a {
          display: block;
          padding: 15px 0;
          color: #000;
          font-size: 15px;
          transition: .3s ease;

          i {
            font-size: 10px;
            margin-right: 10px;
          }

          &:hover {
            background: $primary-color;
            color: $light;
            padding-left: 20px;
          }
        }
      }
    }
  }

  &-allPosts {
    margin: 30px 0;

    .btn-white {
      padding: 10px 30%;
      color: $light;
      font-size: 15px;
      background: $primary-color;
      border: 5px solid $primary-color;
      border-radius: 0;

      &:hover {
        color: $primary-color;
        background-color: $light;
        border: 5px solid $primary-color;
      }
    }
  }

  &-post {
    &-list {
      padding-left: 0;

      &-item {
        padding: 15px 0;
        display: flex;
      }
    }

    &-image {
      margin-right: 10px;
      height: 90px;
      width: 130px;
      overflow: hidden;

      img {
        height: 90px;
        width: 120px;
      }
    }

    &-content {
      h5 {
        font-size: 18px;
        margin-bottom: 10px;
        transition: .3s ease;
        color: $black;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}